--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: freight_stations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.freight_stations (
    id integer NOT NULL,
    name text,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.freight_stations OWNER TO postgres;

--
-- Name: freight_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.freight_stations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.freight_stations_id_seq OWNER TO postgres;

--
-- Name: freight_stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.freight_stations_id_seq OWNED BY public.freight_stations.id;


--
-- Name: freight_stations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freight_stations ALTER COLUMN id SET DEFAULT nextval('public.freight_stations_id_seq'::regclass);


--
-- Name: freight_stations freight_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.freight_stations
    ADD CONSTRAINT freight_stations_pkey PRIMARY KEY (id);


--
-- Name: freight_stations_gix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX freight_stations_gix ON public.freight_stations USING gist (geom);


--
-- Name: idx_freight_stations_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_freight_stations_geom ON public.freight_stations USING gist (geom);


--
-- PostgreSQL database dump complete
--

