--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jpn_nodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jpn_nodes (
    nid bigint,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.jpn_nodes OWNER TO postgres;

--
-- Name: idx_jpn_nodes_geom_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_nodes_geom_gist ON public.jpn_nodes USING gist (geom);


--
-- Name: idx_jpn_nodes_nid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_nodes_nid ON public.jpn_nodes USING btree (nid);


--
-- Name: jpn_nodes_gix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jpn_nodes_gix ON public.jpn_nodes USING gist (geom);


--
-- PostgreSQL database dump complete
--

