--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jpn_ways; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jpn_ways (
    gid bigint,
    source bigint,
    target bigint,
    geom public.geometry(LineString,4326),
    highway text,
    name text,
    oneway text,
    cost_s double precision,
    reverse_cost double precision,
    length_m double precision,
    blocked boolean,
    maxspeed_forward double precision,
    maxspeed_backward double precision
);


ALTER TABLE public.jpn_ways OWNER TO postgres;

--
-- Name: idx_jpn_ways_blocked; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_blocked ON public.jpn_ways USING btree (blocked);


--
-- Name: idx_jpn_ways_blocked_gid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_blocked_gid ON public.jpn_ways USING btree (blocked, gid);


--
-- Name: idx_jpn_ways_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_geom ON public.jpn_ways USING gist (geom);


--
-- Name: idx_jpn_ways_geom_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_geom_gist ON public.jpn_ways USING gist (geom);


--
-- Name: idx_jpn_ways_highway; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_highway ON public.jpn_ways USING btree (highway);


--
-- Name: idx_jpn_ways_not_blocked; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_not_blocked ON public.jpn_ways USING btree (source, target) WHERE (NOT blocked);


--
-- Name: idx_jpn_ways_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_source ON public.jpn_ways USING btree (source);


--
-- Name: idx_jpn_ways_source_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_source_target ON public.jpn_ways USING btree (source, target);


--
-- Name: idx_jpn_ways_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_jpn_ways_target ON public.jpn_ways USING btree (target);


--
-- PostgreSQL database dump complete
--

