--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: motorway_ic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.motorway_ic (
    id integer NOT NULL,
    name text,
    lon double precision,
    lat double precision,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.motorway_ic OWNER TO postgres;

--
-- Name: motorway_ic_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.motorway_ic_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.motorway_ic_id_seq OWNER TO postgres;

--
-- Name: motorway_ic_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.motorway_ic_id_seq OWNED BY public.motorway_ic.id;


--
-- Name: motorway_ic id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.motorway_ic ALTER COLUMN id SET DEFAULT nextval('public.motorway_ic_id_seq'::regclass);


--
-- Name: motorway_ic motorway_ic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.motorway_ic
    ADD CONSTRAINT motorway_ic_pkey PRIMARY KEY (id);


--
-- Name: idx_motorway_ic_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_motorway_ic_geom ON public.motorway_ic USING gist (public.st_setsrid(public.st_makepoint(lon, lat), 4326));


--
-- Name: motorway_ic_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX motorway_ic_geom_idx ON public.motorway_ic USING gist (public.st_setsrid(public.st_makepoint(lon, lat), 4326));


--
-- PostgreSQL database dump complete
--

