--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: rail_ways; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rail_ways (
    gid integer NOT NULL,
    source bigint,
    target bigint,
    geom public.geometry(LineString,4326),
    length_m double precision,
    oneway boolean DEFAULT true,
    cost_s double precision
);


ALTER TABLE public.rail_ways OWNER TO postgres;

--
-- Name: rail_ways_gid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rail_ways_gid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rail_ways_gid_seq OWNER TO postgres;

--
-- Name: rail_ways_gid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rail_ways_gid_seq OWNED BY public.rail_ways.gid;


--
-- Name: rail_ways gid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rail_ways ALTER COLUMN gid SET DEFAULT nextval('public.rail_ways_gid_seq'::regclass);


--
-- Name: rail_ways rail_ways_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rail_ways
    ADD CONSTRAINT rail_ways_pkey PRIMARY KEY (gid);


--
-- Name: rail_ways_gix; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rail_ways_gix ON public.rail_ways USING gist (geom);


--
-- PostgreSQL database dump complete
--

