--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ways_vertices_pgr; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ways_vertices_pgr (
    id bigint NOT NULL,
    osm_id bigint,
    eout integer,
    lon numeric(11,8),
    lat numeric(11,8),
    cnt integer,
    chk integer,
    ein integer,
    the_geom public.geometry(Point,4326)
)
WITH (autovacuum_enabled='false');


ALTER TABLE public.ways_vertices_pgr OWNER TO postgres;

--
-- Name: ways_vertices_pgr_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ways_vertices_pgr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ways_vertices_pgr_id_seq OWNER TO postgres;

--
-- Name: ways_vertices_pgr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ways_vertices_pgr_id_seq OWNED BY public.ways_vertices_pgr.id;


--
-- Name: ways_vertices_pgr id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways_vertices_pgr ALTER COLUMN id SET DEFAULT nextval('public.ways_vertices_pgr_id_seq'::regclass);


--
-- Name: ways_vertices_pgr ways_vertices_pgr_osm_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways_vertices_pgr
    ADD CONSTRAINT ways_vertices_pgr_osm_id_key UNIQUE (osm_id);


--
-- Name: ways_vertices_pgr ways_vertices_pgr_osm_id_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways_vertices_pgr
    ADD CONSTRAINT ways_vertices_pgr_osm_id_key1 UNIQUE (osm_id);


--
-- Name: ways_vertices_pgr ways_vertices_pgr_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways_vertices_pgr
    ADD CONSTRAINT ways_vertices_pgr_pkey PRIMARY KEY (id);


--
-- Name: ways_vertices_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ways_vertices_geom_idx ON public.ways_vertices_pgr USING gist (the_geom);


--
-- Name: ways_vertices_pgr_the_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ways_vertices_pgr_the_geom_idx ON public.ways_vertices_pgr USING gist (the_geom);


--
-- Name: ways_vertices_pgr_the_geom_idx1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ways_vertices_pgr_the_geom_idx1 ON public.ways_vertices_pgr USING gist (the_geom);


--
-- PostgreSQL database dump complete
--

