--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ways; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ways (
    gid bigint NOT NULL,
    osm_id bigint,
    tag_id integer,
    length double precision,
    length_m double precision,
    name text,
    source bigint,
    target bigint,
    source_osm bigint,
    target_osm bigint,
    cost double precision,
    reverse_cost double precision,
    cost_s double precision,
    reverse_cost_s double precision,
    rule text,
    one_way integer,
    oneway text,
    x1 double precision,
    y1 double precision,
    x2 double precision,
    y2 double precision,
    maxspeed_forward double precision,
    maxspeed_backward double precision,
    priority double precision DEFAULT 1,
    the_geom public.geometry(LineString,4326),
    blocked boolean DEFAULT false
)
WITH (autovacuum_enabled='false');


ALTER TABLE public.ways OWNER TO postgres;

--
-- Name: ways_gid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ways_gid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ways_gid_seq OWNER TO postgres;

--
-- Name: ways_gid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ways_gid_seq OWNED BY public.ways.gid;


--
-- Name: ways gid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways ALTER COLUMN gid SET DEFAULT nextval('public.ways_gid_seq'::regclass);


--
-- Name: ways ways_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_pkey PRIMARY KEY (gid);


--
-- Name: idx_ways_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ways_source ON public.ways USING btree (source);


--
-- Name: idx_ways_source_osm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ways_source_osm ON public.ways USING btree (source_osm);


--
-- Name: idx_ways_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ways_target ON public.ways USING btree (target);


--
-- Name: idx_ways_target_osm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ways_target_osm ON public.ways USING btree (target_osm);


--
-- Name: ways_the_geom_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ways_the_geom_idx ON public.ways USING gist (the_geom);


--
-- Name: ways ways_source_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_source_fkey FOREIGN KEY (source) REFERENCES public.ways_vertices_pgr(id);


--
-- Name: ways ways_source_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_source_fkey1 FOREIGN KEY (source) REFERENCES public.ways_vertices_pgr(id);


--
-- Name: ways ways_source_osm_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_source_osm_fkey FOREIGN KEY (source_osm) REFERENCES public.ways_vertices_pgr(osm_id);


--
-- Name: ways ways_source_osm_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_source_osm_fkey1 FOREIGN KEY (source_osm) REFERENCES public.ways_vertices_pgr(osm_id);


--
-- Name: ways ways_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.configuration(tag_id);


--
-- Name: ways ways_tag_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_tag_id_fkey1 FOREIGN KEY (tag_id) REFERENCES public.configuration(tag_id);


--
-- Name: ways ways_target_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_target_fkey FOREIGN KEY (target) REFERENCES public.ways_vertices_pgr(id);


--
-- Name: ways ways_target_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_target_fkey1 FOREIGN KEY (target) REFERENCES public.ways_vertices_pgr(id);


--
-- Name: ways ways_target_osm_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_target_osm_fkey FOREIGN KEY (target_osm) REFERENCES public.ways_vertices_pgr(osm_id);


--
-- Name: ways ways_target_osm_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ways
    ADD CONSTRAINT ways_target_osm_fkey1 FOREIGN KEY (target_osm) REFERENCES public.ways_vertices_pgr(osm_id);


--
-- PostgreSQL database dump complete
--

